o*ptb
*.t
./src/HList/*
*tex
*log
*pdf
*aux

.log
.pdf
.aux
*~
*#
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
doc/Main.bbl
doc/Main.blg
doc/Main.out
doc/Main.toc
test/Fail.hs
test/GraphsBroken.hs
test/Test2.hs
test/TypedArithExtension.hs
.gitignore
./papers
./benchmarks

TAGS
doc/Fatal
doc/auto/
doc/src/auto/
doc/src/img/ag-repmin.xcf
doc/src/img/udelar logo.jpg
examples/List.hs
examples/Tree.lhs
papers/ifl2019/ACM-Reference-Format.bbx
papers/ifl2019/ACM-Reference-Format.cbx
papers/ifl2019/ACM-Reference-Format.dbx
papers/ifl2019/Fatal
papers/ifl2019/GenRecord.hs
papers/ifl2019/Main.bbl
papers/ifl2019/Main.blg
papers/ifl2019/Main.out
papers/ifl2019/Main.ptb
papers/ifl2019/Main.toc
papers/ifl2019/Main2.out
papers/ifl2019/Main2.ptb
papers/ifl2019/aag.out
papers/ifl2019/acmart-master.zip
papers/ifl2019/acmart-master/
papers/ifl2019/auto/
papers/ifl2019/comment.cut
papers/ifl2019/endpboxed
papers/ifl2019/leavevmode
papers/ifl2019/sample-acmtog.out
papers/ifl2019/src/
papers/ifl2019/test
papers/ifl2019/{hspre}l
papers/lhs2TeX/.script
papers/lhs2TeX/.travis.yml
papers/pp/
src/.#RecError.hs
src/Errors.hs
src/ExprExt.hs
src/Fun.hs
src/Hoas.hs
src/Lambda.hs
src/Language/Grammars/.#AspectAG.lhs
src/Letexp.lhs
src/Param.hs
src/RepminClass.hs
src/RepminExt.hs
src/RepminExt2.hs
src/RepminGenChi.hs
src/THDevel.hs
src/TypedArith.hs
src/repmin
test/RepminTH.hs
test/TypedArithDK.hs
.gitmodules