o*ptb
*.t
./src/HList/*
*tex
*log
*pdf
*aux

.log
.pdf
.aux
*~
*#
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
doc/Main.bbl
doc/Main.blg
doc/Main.out
doc/Main.toc
test/Fail.hs
test/GraphsBroken.hs
test/Test2.hs
test/TypedArithExtension.hs
.gitignore
